@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  body {
    @apply bg-white text-gray-600
  }
}

.container {
  @apply mx-auto w-full max-w-[1200px] px-6
}

*::-webkit-scrollbar {
  width: 8px;
}

/*
*::-webkit-scrollbar-track {
    background: #d1d1e9;
    border-radius: 5px;
}
*/
*::-webkit-scrollbar-thumb {
  background-color: #c1c2c4;
  border-radius: 14px;
}